
.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    /* background: white; */
    /* border-radius: 12px; */
    border: 1px solid black;
}

/* 3. Don't let it get wider than container */
/* 4. Don't let it get taller than container */
/* 5. KEEP ORIGINAL PROPORTIONS */
/* .img {
    max-width: 100%;      
    max-height: 100%;    
    object-fit: contain;  
    } */
    
    /* Text & Info Styling */
    .category {
    /* color: #ff6b6b; */
    font-size: 12px;
    font-weight: 800;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 8px 0;
}

.description {
    font-size: 0.5rem;
    
}

.price {
    font-size: 20px;
    font-weight: 800;
    
}
.img-container {
    
}
img{
    width: 100%;
    height: 100%;   
}
.deletebtn{
    background-color: red;
    margin: 1rem;
}
.editbtn{
    background-color: yellow;
    margin: 1rem;
}
.addbtn{
    background-color: lightgreen;
    margin: 1rem;
}